.DS_Store

# VS Stuff
**/obj/*
**/bin/*
**/.vs/*
**/packages/*

# Node Stuff
**/node_modules/*
**/build/*

# Yarn config and stuff
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*

PSI/server.js
PSI/package-lock.json
package-lock.json
